mediapipe/provisioning_profile.mobileprovision
.aswb/*
.vscode/*
*.mkv
bazel-bin
bazel-genfiles
bazel-mediapipe-ioss
bazel-mediapipe
bazel-out
bazel-testlogs
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
res/*
debug_out/*


